@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    @apply antialiased;
  }

  body {
    @apply font-sans min-h-screen;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  ::selection {
    @apply bg-black text-white;
  }
}
